@import "../css/import/variables";

.preloader {
    display: block;
    /*position: absolute;
    top: 0;
    left: 0;*/
    height: 100%;
    width: 100%;
    color: $gray;
    min-height: 50px;
}

.preloader__logo {
    text-align: center;
    img {
        max-height: 100px;
        margin-bottom: 50px;
    }
}

.preloader__caption {
    text-align: center;
    padding-top: 15px;
}

.preloader__inner {
    /*transform: translateY(-50%);*/
    top: 50%;
    /*position: absolute;*/
    width: 100%;
    /*padding: 0 100px;*/
    text-align: center;
}

.preloader__inner label {
    font-size: 16px;
    opacity: 0;
    display: inline-block;
}

@keyframes preloader {
    0% {
        opacity: 0;
        transform: translateX(-125px);
    }
    33% {
        opacity: 1;
        transform: translateX(0px);
    }
    66% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(125px);
    }
}

@-webkit-keyframes preloader {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-125px);
    }
    33% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    66% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(125px);
    }
}

.preloader__inner label:nth-child(6) {
    -webkit-animation: preloader 2s infinite ease-in-out;
    animation: preloader 2s infinite ease-in-out;
}

.preloader__inner label:nth-child(5) {
    -webkit-animation: preloader 2s 100ms infinite ease-in-out;
    animation: preloader 2s 100ms infinite ease-in-out;
}

.preloader__inner label:nth-child(4) {
    -webkit-animation: preloader 2s 200ms infinite ease-in-out;
    animation: preloader 2s 200ms infinite ease-in-out;
}

.preloader__inner label:nth-child(3) {
    -webkit-animation: preloader 2s 300ms infinite ease-in-out;
    animation: preloader 2s 300ms infinite ease-in-out;
}

.preloader__inner label:nth-child(2) {
    -webkit-animation: preloader 2s 400ms infinite ease-in-out;
    animation: preloader 2s 400ms infinite ease-in-out;
}

.preloader__inner label:nth-child(1) {
    -webkit-animation: preloader 2s 500ms infinite ease-in-out;
    animation: preloader 2s 500ms infinite ease-in-out;
}
